/* Color general sin negros */
body {
  background-color: #fcfcfc;
  color: #555;
  font-family: sans-serif;
}

/* Estilo de "Tabla" para las columnas */
.col-viaje {
  background-color: #ffffff;
  padding: 30px;
  border: 1px solid #eee; /* Borde gris muy clarito */
  text-align: center;
}

/* Títulos de las "tablas" */
.col-viaje h3 {
  color: #0d6efd;
  font-size: 1.2rem;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

/* Formulario más simple todavía */
form {
  border: 1px solid #eee !important;
  background-color: #fff;
}

/* Quitar bordes negros a los inputs */
.form-control {
  border: 1px solid #eee;
}

.form-control:focus {
  box-shadow: none;
  border-color: #0d6efd;
}