/* Estilos para toda la página - define fondo gris, espaciado y fuente */
body {
    background-color: lightgray;
    padding: 20px;
    font-family: Arial, sans-serif;
}

/*  centra todo el contenido y define ancho máximo */
.container {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

/* lo centra y define su color */
h1 {
    text-align: center;
    color: black;
}

/* contiene el input y los botones */
.controles {
    background-color: lightgray;
    padding: 15px;
    margin-bottom: 20px;
}

/*  donde el usuario ingresa la URL de la imagen */
#urlImagen {
    width: 50%;
    padding: 10px;
    border: 1px solid gray;
}

/* Estilos generales para todos los botones */
button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Botón de agregar - color v